.login{
    display : grid;
    place-items: center; 
    height:100vh;
    background-color: black;
}
.login > .img{
width:100%;

}

.login > .button{
    padding: 7px;
 border-radius: 50px;
 font-weight: 600;
 border-color: rgba(255, 0, 0, 0.89);
 background-color: rgb(1, 44, 46);
 color: white;
 text-decoration: none;

}